[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
staticjinja = "*"
rjsmin = "*"
htmlmin = "*"
csscompressor = "*"
libsass = "*"

[requires]
python_version = "3.6"
