/**************************
* General Helpers
***************************/
body{
    margin: 0;
    padding: 0;
}
.parent-center{
    position:absolute;
	margin:auto;
	left:0;right:0;
	top:0;bottom:0;
	width:500px;
	height:500px;
}
.section-header{
    font-family: 'Saira', sans-serif;
    overflow: hidden;
    margin-top: 8%!important;
    word-wrap: break-word;
}
.text-center{
    float: none;
    text-align: center;
}
/*.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}*/
.boxCentered {
    display:inline-block;
    float:none;
    text-align:center;
}
/**************************
* Home Section
***************************/
#homeContainer{
    position: relative;
    width: 100%;
    background-color: #efefef;
    height:100vh;
    overflow: hidden;
    background-image: url("../../images/bg-creator.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#introBox{
    background-color: rgba(255,255,255,0.8);
    -webkit-box-shadow: 0px 2px 87px -17px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 2px 87px -17px rgba(0,0,0,0.61);
    box-shadow: 0px 2px 87px -17px rgba(0,0,0,0.61);
    padding: 15px 5px 15px 5px;
}
#creator-image{
    background-color: #efefef;
    border-radius: 49%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15px;
    overflow: hidden;
}
/**************************
* Information Section
***************************/
.skill-item {
    width: 128px;
    font-family: 'Saira', sans-serif;
}
.expHolder {
    border: 1px solid #f2f2f2;
    height: 220px;
    width: 320px;
    -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
}
.expTitle {
    height: 66px;
    margin-left: 15px;
    padding: 10px 0 10px 0;
    font-size: 30px;
    border-bottom: 1px solid rgb(225, 228, 232);
}
.expBody {
    padding-left: 15px;
    padding-right: 15px;
}
.expLink {
    text-align: center;
    padding: 10px;
    margin: 0!important;
    margin-left: 7px!important;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    border-radius: 2px;
    font-weight: bold;
    text-transform: uppercase;
}
.expLink:hover {
    box-shadow:0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    background-color: #2bbbad;
}
.eduHolder {
    padding: 15px;
    width: 270px;
    height: 150px;
    border: 1px solid #f2f2f2;
    margin: 0 30px 20px 0!important;
    -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
}
.eduTitle{
    font-size: 20px;
    margin-bottom: 10px;
}
.eduBody{
    text-align: left;
}
